.root {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
}

#alert-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 15px;
  z-index: 10;
}

.alert {
  display: none;
  margin-bottom: 0.5rem;
}

.alert-copy {
  display: block;
  color: #fff;
  background-color: #666;  
}

/* .modal-dialog {
  max-width: 768px;
} */
