.root {
  min-height: 100%;
  position: relative;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
}

#passOutput {
  border: 0;
}

#passInput {
  z-index: 1;
}



#alert-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 15px;
  z-index: 10;
}

.alert {
  display: none;
  margin-bottom: 0.5rem;
}

.alert-copy {
  display: block;
  color: #fff;
  background-color: #666;  
}

.new-list {
  display: none;
}

.list-group-item {
  border-top: 0;
  /* border-bottom: 2px solid #333; */
}

/* .header-container {
  border-bottom: none;
} */

/* Custom Responsive Design */

@media (min-width: 768px) {
.container {
    max-width: 95%;
}
}